<div class="mt-4">
    <div class="bg-white border border-stone-200 rounded-md pt-6 pb-8 px-4 sm:px-6 lg:px-4 xl:px-6">
        <div class="flex flex-col sm:flex-row lg:flex-col xl:flex-row justify-between items-center gap-y-1 w-full">
            <div class="font-medium text-lg">{{ 'products.product.cordless_zebra_blinds.product_forms.choose_your_mount.title' | t }}</div>
            <div role="button" data-drawer-action="mount-type" class="group flex items-center justify-center gap-1 border border-stone-400 rounded-full py-1 px-3 hover:bg-neutral-100 transition-all">
                <div class="text-xs">{{ 'products.product.cordless_zebra_blinds.product_forms.choose_your_mount.choosing_your_mount_type' | t }}</div>
                <div role="button" class="bg-stone-900 group-hover:bg-indigo-600 transition-all h-3.5 w-3.5 rounded-full relative">
                    <span class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-xs font-bold text-neutral-100 font-serif">i</span>
                </div>
            </div>
        </div>
        <fieldset class="mt-4 grid grid-cols-2 gap-2 sm:gap-4 lg:gap-2 xl:gap-4" role="radiogroup">
            <label role="button" for="product-forms-mount-inside" class="flex flex-col p-2 rounded-md border-2 border-stone-200 hover:border-indigo-300 has-[:checked]:border-indigo-500 transition-all shadow-sm">
                <input class="hidden" data-rz-product-forms="mount-input" type="radio" name="product-forms-mount" placeholder="{{ 'products.product.cordless_zebra_blinds.product_forms.choose_your_mount.mount_type' | t }}" id="product-forms-mount-inside" value="{{ 'products.product.cordless_zebra_blinds.product_forms.choose_your_mount.inside' | t }}" data-rz-product-forms-width-asset-url="{{ 'product-forms-inside-width.svg' | asset_url }}" data-rz-product-forms-height-asset-url="{{ 'product-forms-inside-height.svg' | asset_url }}" data-rz-product-forms-depth-show="true" checked>
                <picture>
                    <img src="{{ 'product-forms-inside-mount.svg' | asset_url }}" alt="{{ 'products.product.cordless_zebra_blinds.product_forms.choose_your_mount.inside' | t }}" class="w-full h-full object-cover">
                </picture>
                <div class="font-medium">{{ 'products.product.cordless_zebra_blinds.product_forms.choose_your_mount.inside' | t }}</div>
            </label>
            <label role="button" for="product-forms-mount-outside" class="flex flex-col p-2 rounded-md border-2 border-stone-200 hover:border-indigo-300 has-[:checked]:border-indigo-500 transition-all shadow-sm">
                <input class="hidden" data-rz-product-forms="mount-input" type="radio" name="product-forms-mount" placeholder="{{ 'products.product.cordless_zebra_blinds.product_forms.choose_your_mount.mount_type' | t }}" id="product-forms-mount-outside" value="{{ 'products.product.cordless_zebra_blinds.product_forms.choose_your_mount.outside' | t }}" data-rz-product-forms-width-asset-url="{{ 'product-forms-outside-width.svg' | asset_url }}" data-rz-product-forms-height-asset-url="{{ 'product-forms-outside-height.svg' | asset_url }}">
                <picture>
                    <img src="{{ 'product-forms-outside-mount.svg' | asset_url }}" alt="{{ 'products.product.cordless_zebra_blinds.product_forms.choose_your_mount.outside' | t }}" class="w-full h-full object-cover">
                </picture>
                <div class="font-medium">{{ 'products.product.cordless_zebra_blinds.product_forms.choose_your_mount.outside' | t }}</div>
            </label>
        </fieldset>
    </div>
</div>
<div class="mt-4">
    <div class="bg-white border border-stone-200 rounded-md pt-6 pb-8 px-4 sm:px-6 lg:px-4 xl:px-6">
        <div class="flex flex-col sm:flex-row lg:flex-col xl:flex-row justify-between items-center gap-y-1 w-full">
            <div class="font-medium text-xl">{{ 'products.product.cordless_zebra_blinds.product_forms.enter_your_measurements.title' | t }}</div>
            <div role="button" data-drawer-action="measuring-guide" class="group flex items-center justify-center gap-1 border border-stone-400 rounded-full py-1 px-3 hover:bg-neutral-100 transition-all">
                <div class="text-xs">{{ 'products.product.cordless_zebra_blinds.product_forms.enter_your_measurements.measuring_tips' | t }}</div>
                <div role="button" class="bg-stone-900 group-hover:bg-indigo-600 transition-all h-3.5 w-3.5 rounded-full relative">
                    <span class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-xs font-bold text-neutral-100 font-serif">i</span>
                </div>
            </div>
        </div>
        <div class="mt-4 py-2 px-2 lg:px-4 flex gap-1 lg:gap-4 max-w-full text-clip overflow-hidden rounded-md items-baseline bg-white border border-stone-200 select-none">
            <label class="font-medium bg-white" for="product-forms-measurement-unit">{{ 'products.product.cordless_zebra_blinds.product_forms.enter_your_measurements.unit' | t }}</label>
            <select data-rz-product-forms="measurement-unit-input" id="product-forms-measurement-unit" class="bg-white pl-4 pr-8 min-w-0 grow focus:outline-none text-ellipsis cursor-pointer" required>
                <option value="cm">{{ 'products.product.cordless_zebra_blinds.product_forms.enter_your_measurements.cm' | t }}</option>
                <option value="in">{{ 'products.product.cordless_zebra_blinds.product_forms.enter_your_measurements.in' | t }}</option>
            </select>
        </div>
        <div class="grid grid-cols-2 gap-2 sm:gap-4 lg:gap-2 xl:gap-4">
            <div class="flex flex-col" data-rz-product-forms="width">
                <picture>
                    <img src="{{ 'product-forms-inside-width.svg' | asset_url }}" data-rz-product-forms="width-asset" class="w-full h-full object-cover">
                </picture>
                <div class="mt-2">
                    <label for="product-forms-width">{{ 'products.product.cordless_zebra_blinds.product_forms.enter_your_measurements.width' | t }} (<span data-rz-product-forms="measurement-unit-display"></span>)</label>
                    <input type="number" data-rz-product-forms="width-input" name="product-forms-width" id="product-forms-width" class="py-2 px-2 rounded-md bg-white border border-stone-200 text-stone-900 w-full" placeholder="{{ 'products.product.cordless_zebra_blinds.product_forms.enter_your_measurements.width' | t }}" required>
                </div>
            </div>
            <div class="flex flex-col" data-rz-product-forms="height">
                <picture>
                    <img src="{{ 'product-forms-inside-height.svg' | asset_url }}" data-rz-product-forms="height-asset" class="w-full h-full object-cover">
                </picture>
                <div class="mt-2">
                    <label for="product-forms-height">{{ 'products.product.cordless_zebra_blinds.product_forms.enter_your_measurements.height' | t }} (<span data-rz-product-forms="measurement-unit-display"></span>)</label>
                    <input type="number" data-rz-product-forms="height-input" name="product-forms-height" id="product-forms-height" class="py-2 px-2 rounded-md bg-white border border-stone-200 text-stone-900 w-full" placeholder="{{ 'products.product.cordless_zebra_blinds.product_forms.enter_your_measurements.height' | t }}" required>
                </div>
            </div>
        </div>
        <div class="mt-4 grid grid-cols-2 gap-2 sm:gap-4 lg:gap-2 xl:gap-4" data-rz-product-forms="depth">
            <div class="flex flex-col">
                <picture>
                    <img src="{{ 'product-forms-inside-depth.svg' | asset_url }}" data-rz-product-forms="depth-asset" class="w-full h-full object-cover">
                </picture>
                <div class="mt-2">
                    <label for="product-forms-depth">{{ 'products.product.cordless_zebra_blinds.product_forms.enter_your_measurements.depth' | t }} (<span data-rz-product-forms="measurement-unit-display"></span>)</label>
                    <input type="number" data-rz-product-forms="depth-input" name="product-forms-depth" id="product-forms-depth" class="py-2 px-2 rounded-md bg-white border border-stone-200 text-stone-900 w-full" placeholder="{{ 'products.product.cordless_zebra_blinds.product_forms.enter_your_measurements.depth' | t }}" required>
                </div>
            </div>
            <div class="bg-neutral-100 rounded-md h-full w-full p-2 pb-4 sm:p-4 sm:pb-6 lg:p-2 lg:pb-4 xl:p-4 xl:pb-6 flex justify-center items-center">
                <div>
                    <h3 class="text-base sm:text-xl lg:text-base xl:text-xl mt-4 font-serif font-bold text-center">{{ 'products.product.cordless_zebra_blinds.product_forms.enter_your_measurements.depth_check.title' | t }}</h3>
                    <p class="mt-2 text-center text-xs sm:text-base lg:text-xs xl:text-base">{{ 'products.product.cordless_zebra_blinds.product_forms.enter_your_measurements.depth_check.description' | t }}</p>
                    <div class="mt-2 lg:mt-6 text-center">
                        <a href="#product-specifications" title="See product specifications" class="font-semibold underline underline-offset-4 text-xs xl:text-sm leading-none" title="{{ 'products.product.cordless_zebra_blinds.product_forms.enter_your_measurements.depth_check.see_specifications' | t }}">{{ 'products.product.cordless_zebra_blinds.product_forms.enter_your_measurements.depth_check.see_specifications' | t }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-4">
    <div class="bg-white border border-stone-200 rounded-md pt-6 pb-8 px-4 sm:px-6 lg:px-4 xl:px-6">
        <div class="font-medium text-lg">{{ 'products.product.cordless_zebra_blinds.product_forms.enter_your_measurements.assign_room_name.title' | t }}</div>
        <div class="mt-2">
            <label for="product-forms-room-name">{{ 'products.product.cordless_zebra_blinds.product_forms.enter_your_measurements.assign_room_name.room_name' | t }}</label>
            <input type="text" data-rz-product-forms="room-name-input" name="product-forms-room-name" id="product-forms-room-name" class="py-2 px-2 rounded-md bg-white border border-stone-200 text-stone-900 w-full" placeholder="{{ 'products.product.cordless_zebra_blinds.product_forms.enter_your_measurements.assign_room_name.room_name' | t }}" required>
        </div>
    </div>
</div>