<div>
    <div>
        <picture>
            <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:1536px)" />
            <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:1280px)" />
            <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:1024px)" />
            <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:768px)" />
            <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:640px)" />
            <source srcset="{{ image | asset_img_url: '1800x' }}" media="(min-width:0px)" />
            <img src="{{ image | asset_img_url: '1800x' }}" height="200" width="200" loading="lazy" class="w-full h-auto object-contain rounded" />
        </picture>
    </div>
    <div class="mt-2">
        <div class="text-center text-lg font-bold">CHERRY MX</div>
        <div class="text-center text-lg font-bold">{{ name }}</div>
        <div class="mt-2 text-center">Listen to typing</div>
        <figure class="mt-2 block w-full">
            <audio
                class="block w-full"
                controls
                src="{{ audio | asset_url }}">
            </audio>
        </figure>
    </div>
    <div class="mt-4 pt-2 rz-divider">
        <div class="flex flex-col justify-center items-center gap-2">
            <span class="text-2xl font-bold">{{ variant.price | money_with_currency }}</span>
            {% if shipping_included == true %}
                <span class="rz-badge-trust">Free Shipping</span>
            {% endif %}
        </div>
            <button type="button" data-add-cart-showcase="{{ variant.id }}" class="mt-4 w-full rz-btn-md rz-btn-primary disabled:opacity-75 disabled:bg-content disabled:text-content-inverse">
            <span data-add-state="success" class="hidden">{% render 'icon-success', class: 'mx-auto h-5 w-5 text-content-inverse', fill: 'none' %}</span>
            <span data-add-state="loading" class="hidden">{% render 'icon-loading', class: 'animate-spin mx-auto h-5 w-5 text-content-inverse' %}</span>
            <span data-add-state="default">Add to cart</span>
        </button>
    </div>
</div>
