<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Product",
        "name": {{ product.title | json }},
        "url": {{ request.origin | append: product.url | json }},
        "image": [
            {{ product.featured_image | image_url: width: 800 | prepend: "https:" | json }}
        ],
        "description": {{ product.description | strip_html | json }},
        {% if product.selected_or_first_available_variant.sku != blank -%}
            "sku": {{ product.selected_or_first_available_variant.sku | json }},
        {%- endif %}
        "brand": {
            "@type": "Brand",
            "name": {{ product.vendor | json }}
        },
        "offers": [
            {%- for variant in product.variants -%}
            {
                "@type" : "Offer",
                {%- if variant.sku != blank -%}
                "sku": {{ variant.sku | json }},
                {%- endif -%}
                {%- if variant.barcode.size == 12 -%}
                "gtin12": {{ variant.barcode }},
                {%- endif -%}
                {%- if variant.barcode.size == 13 -%}
                "gtin13": {{ variant.barcode }},
                {%- endif -%}
                {%- if variant.barcode.size == 14 -%}
                "gtin14": {{ variant.barcode }},
                {%- endif -%}
                "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
                "price" : {{ variant.price | divided_by: 100.00 | json }},
                "priceCurrency" : {{ cart.currency.iso_code | json }},
                "url" : {{ request.origin | append: variant.url | json }}
            }{% unless forloop.last %},{% endunless %}
            {%- endfor -%}
        ]
    }
</script>
<div>
    <div>
        <a href="{{ product.url }}" data-rz-product-hover="{{ product.handle }}" class="bg-gray-200 aspect-square rounded-md">
            <div class="relative">
                <picture class="relative">
                    <source srcset="{{ product.featured_image | image_url: width: 800 }}" media="(min-width:1536px)" />
                    <source srcset="{{ product.featured_image | image_url: width: 800 }}" media="(min-width:1280px)" />
                    <source srcset="{{ product.featured_image | image_url: width: 800 }}" media="(min-width:1024px)" />
                    <source srcset="{{ product.featured_image | image_url: width: 800 }}" media="(min-width:768px)" />
                    <source srcset="{{ product.featured_image | image_url: width: 800 }}" media="(min-width:640px)" />
                    <source srcset="{{ product.featured_image | image_url: width: 800 }}" media="(min-width:0px)" />
                    <img src="{{ product.featured_image | image_url: width: 800 }}" height="800" width="800" alt="{{ product.featured_image.alt }}" height="200" width="200" loading="lazy" class="w-full h-auto object-contain rounded-md" />
                </picture>
                <picture class="hidden lg:block absolute inset-0 opacity-0 transition-opacity" data-rz-product-hover-action="{{ product.handle }}">
                    <source srcset="{{ product.images[1] | image_url: width: 800 }}" media="(min-width:1536px)" />
                    <source srcset="{{ product.images[1] | image_url: width: 800 }}" media="(min-width:1280px)" />
                    <source srcset="{{ product.images[1] | image_url: width: 800 }}" media="(min-width:1024px)" />
                    <source srcset="{{ product.images[1] | image_url: width: 800 }}" media="(min-width:768px)" />
                    <source srcset="{{ product.images[1] | image_url: width: 800 }}" media="(min-width:640px)" />
                    <source srcset="{{ product.images[1] | image_url: width: 800 }}" media="(min-width:0px)" />
                    <img src="{{ product.images[1] | image_url: width: 800 }}" height="800" width="800" alt="{{ product.featured_image.alt }}" height="200" width="200" loading="lazy" class="w-full h-auto object-contain rounded-md" />
                </picture>
            </div>
        </a>
    </div>
    <div class="pt-4 pb-5">
        <div>
            <a href="{{ product.url }}" class="block">
                <span class="text-3xl font-bold mt-4 font-serif text-black">{{ product.title }}</span>
            </a>
        </div>
        <div class="mt-1.5">
            <a href="{{ product.url }}" class="block">
                {% if product.has_only_default_variant == false %}
                    <span class="font-light text-xl italic">{{ 'products.product.price.from' | t }}</span>
                {% endif %}
                <span class="font-light text-xl">{{ product.price | money_with_currency }}</span>
            </a>
        </div>
        <div class="mt-6">
            <a href="{{ product.url }}" title="{{ product.title }}" class="font-semibold underline underline-offset-4">{{ 'products.product.price.see_more' | t }}</a>
        </div>
    </div>
</div>