{% if cart.empty? == true %}
    <div id="cart-drawer-content" class="shrink">
        <div class="container mt-20 mx-auto">
            <div class="text-center text-2xl font-bold font-serif">{{ 'templates.cart.empty_message.title' | t }}</div>
            <div class="text-center mt-4 text-lg">{{ 'templates.cart.empty_message.description' | t }}</div>
            <a href="{{ routes['collections_url'] }}" title="{{ 'templates.cart.empty_message.button' | t }}" class="block w-fit mx-auto mt-8 font-medium bg-stone-900 text-neutral-100 uppercase px-8 pt-3 pb-3 rounded-md transition-all hover:bg-indigo-500">{{ 'templates.cart.empty_message.button' | t }}</a>
        </div>
    </div>
{% else %}
    <div id="cart-drawer-items" class="shrink overflow-auto">
        <div class="container mt-4 mb-5 mx-auto flex flex-col gap-y-8">
            {% for line_item in cart.items %}
                <div class="flex items-center gap-x-4 sm:gap-x-8">
                    <div>
                        <a href="{{ line_item.url }}" class="block aspect-square w-36 h-36 rounded-md select-none bg-gray-200">
                            <picture>
                                <source srcset="{{ line_item.image | image_url: width: 160 }}" media="(min-width:1536px)" />
                                <source srcset="{{ line_item.image | image_url: width: 160 }}" media="(min-width:1280px)" />
                                <source srcset="{{ line_item.image | image_url: width: 160 }}" media="(min-width:1024px)" />
                                <source srcset="{{ line_item.image | image_url: width: 160 }}" media="(min-width:768px)" />
                                <source srcset="{{ line_item.image | image_url: width: 160 }}" media="(min-width:640px)" />
                                <source srcset="{{ line_item.image | image_url: width: 160 }}" media="(min-width:0px)" />
                                <img src="{{ line_item.image | image_url: width: 160 }}" alt="{{ line_item.product.title }}" height="132" width="132" loading="lazy" class="h-full w-auto object-contain rounded-md" />
                            </picture>
                        </a>
                    </div>
                    <div class="flex-grow">
                        <div class="flex flex-col justify-center items-start">
                            <div class="w-full flex flex-col sm:flex-row justify-between gap-x-8">
                                <a href="{{ line_item.url }}" class="sm:text-2xl font-bold font-serif">{{ line_item.product.title | truncate: 80, '' }}</a>
                                <span class="font-light mt-1 sm:mt-0 text-sm sm:text-xl">{{ line_item.final_price | money_with_currency }}</span>
                            </div>
                            <div class="mt-1 sm:mt-0 text-xs sm:text-lg">{{ line_item.variant.title }}</div>
                            <div class="mt-1.5 flex justify-center items-center gap-2">
                                <div role="button" data-cart-action="minus" data-cart-item-id="{{ forloop.index }}" data-cart-item-quantity="{{ line_item.quantity }}" class="py-1 px-2">{% render 'icon-minus', class: 'h-3 w-3 text-black' %}</div>
                                <div class="select-none text-black font-medium">{{ line_item.quantity }}</div>
                                <div role="button" data-cart-action="plus" data-cart-item-id="{{ forloop.index }}" data-cart-item-quantity="{{ line_item.quantity }}" class="py-1 px-2">{% render 'icon-plus', class: 'h-3 w-3 text-black' %}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="cart-drawer-footer" class="mt-auto shrink bg-neutral-100">
        <div class="pt-6 pb-2">
            <div class="container mx-auto text-stone-900">
                <div class="flex justify-between">
                    <div class="font-bold font-serif text-lg">{{ 'sections.cart.subtotal' | t }}</div>
                    <div class="font-light text-lg">{{ cart.items_subtotal_price | money_with_currency }}</div>
                </div>
                <div class="mt-2 flex justify-between">
                    <div class="font-bold font-serif text-lg">{{ 'sections.cart.taxes_delivery' | t }}</div>
                    <div class="font-light italic text-lg">{{ 'sections.cart.calculated_checkout' | t }}</div>
                </div>
                <a href="{{ shop.url | append: '/checkout' }}" id="checkout" class="block text-center w-full mt-4 text-lg font-medium bg-stone-900 text-neutral-100 uppercase px-8 pt-4 pb-4 rounded-md transition-all hover:bg-indigo-500" title="{{ 'sections.cart.checkout_now' | t }}">{{ 'sections.cart.checkout_now' | t }}</a>
            </div>
        </div>
        <div class="bg-neutral-100">
            <div class="container mx-auto pt-1 pb-1 flex flex-col sm:flex-row justify-center gap-y-2 gap-x-4">
                <div class="flex flex-col gap-y-3 lg:flex-row items-center justify-center gap-x-4">
                    <div class="inline-flex justify-center gap-y-2 gap-x-0.5 flex-wrap">
                        {% for type in shop.enabled_payment_types -%}
                            {{ type | payment_type_svg_tag: class: 'h-4 sm:h-6 w-auto' }}
                        {% endfor %}
                    </div>
                </div>
                <div id="cart" data-secure-action role="button" class="w-fit mx-auto sm:mx-0 text-xs text-stone-900 font-bold rounded-md flex justify-center items-center gap-x-2 bg-green-400 py-2 px-8 tracking-tighter select-none hover:bg-green-300 active:bg-green-500">{% render 'icon-secure', class: 'h-4 w-auto fill-black' %} <span>{{ 'sections.footer.ssl_encrypted' | t }}</span></div>
            </div>
        </div>
    </div>
    <div id="secure-popover" class="hidden bg-white rounded-md relative z-10" role="tooltip">
        <div data-secure-close role="button" class="absolute z-10 top-2 right-2">
            {% render 'icon-close', class: 'h-4 w-auto fill-black' %}
        </div>
        <div class="relative container mx-auto py-8 px-6">
            <div class="text-center bg-green-100 rounded-md px-8 py-8 border border-green-300 text-green-800">
                <div class="flex items-center justify-center gap-x-2">{% render 'icon-success', class: 'h-8 w-auto fill-green-400', fill: '#428445' %} <span class="font-bold text-2xl">{{ 'sections.footer.site_secure' | t }}</span></div>
                <div class="mt-6 text-center">
                    <a href="https://www.ssllabs.com/ssltest/analyze.html?d=rideauzebra.ca&latest" target="_blank" class="block text-neutral-100 bg-green-500 px-8 w-full rounded-md text-sm py-2 select-none hover:bg-green-400 active:bg-green-600 uppercase" title="{{ 'sections.footer.verify_security' | t }}">{{ 'sections.footer.verify_security' | t }}</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}