<div id="mobile-menu-overlay" class="hidden transition-opacity ease-in-out duration-700 fixed top-0 left-0 right-0 bottom-0 bg-content z-40"></div>
<div id="mobile-menu" class="hidden transition-transform ease-in-out duration-700 fixed top-0 right-0 z-50 bg-surface-white h-full w-full shadow-lg">
    <div class="flex flex-col h-full">
        <div class="shrink bg-surface-white">
            <div class="px-2 sm:px-8 py-4 mx-auto">
                <div role="button" id="mobile-menu-close-btn" class="w-fit rz-icon-btn relative">
                    <div>{% render 'icon-close', class: 'h-5 w-auto fill-content-inverse text-content-inverse' %}</div>
                </div>
            </div>
        </div>
        <div>
            <div class="flex flex-col font-light uppercase gap-6 items-center text-content">
                <a class="rz-link-nav text-2xl" href="{{ routes['collections_url'] }}" title="{{ 'sections.header.catalog' | t }}">{{ 'sections.header.catalog' | t }}</a>
                <a class="rz-link-nav text-2xl" href="{{ blogs['news'].url }}" title="{{ 'blogs.article.blog' | t }}">{{ 'blogs.article.blog' | t }}</a>
                <a class="rz-link-nav text-2xl" href="{{ pages['contact'].url }}" title="{{ 'sections.header.contact' | t }}">{{ 'sections.header.contact' | t }}</a>
                {% comment %} <a class="h-fit font-medium bg-content text-content-inverse uppercase px-8 pt-3 pb-3 rounded-md transition-all hover:bg-brand-500" href="{{ shop.url }}" title="{{ 'sections.header.custom_order' | t }}">{{ 'sections.header.custom_order' | t }}</a> {% endcomment %}
                {% assign translate_lang = 'sections.header.translate' | t %}
                {% assign translate_lang_url = translate_lang | prepend: '/' %}
                {% assign current_lang_url = request.locale.iso_code | prepend: '/' %}
                {% assign parsed_request_path = request.path | remove: current_lang_url %}
                {% unless translate_lang == 'en' %}
                    {% assign parsed_request_path = parsed_request_path | prepend: translate_lang_url %}
                {% endunless %}
                <a class="rz-link-nav text-2xl" href="{{ shop.url | remove: current_lang_url }}{{ parsed_request_path }}" title="{{ translate_lang }}">{{ translate_lang }}</a>
            </div>
        </div>
    </div>
</div>
