<div data-no-overlay class="container mx-auto pt-12 pb-16">
    <div class="w-full lg:w-3/5 mx-auto text-lg">
        <h1 class="text-5xl font-bold font-serif">{{ 'pages.privacy_policy.title' | t }}</h1>
        <div class="mt-8 text-lg">
            <p>{{ 'pages.privacy_policy.content.intro' | t }}</p>
            <p class="mt-4 text-2xl font-bold font-serif">{{ 'pages.privacy_policy.content.information_collection_and_use.heading' | t }}</p>
            <ul class="ml-8 mt-2 list-disc">
                <li>{{ 'pages.privacy_policy.content.information_collection_and_use.item1' | t }}</li>
                <li>{{ 'pages.privacy_policy.content.information_collection_and_use.item2' | t }}</li>
                <li>{{ 'pages.privacy_policy.content.information_collection_and_use.item3' | t }}</li>
                <li>{{ 'pages.privacy_policy.content.information_collection_and_use.item4' | t }}</li>
            </ul>
            <p class="mt-4 text-2xl font-bold font-serif">{{ 'pages.privacy_policy.content.cookies_and_tracking_technologies.heading' | t }}</p>
            <ul class="ml-8 mt-2 list-disc">
                <li>{{ 'pages.privacy_policy.content.cookies_and_tracking_technologies.item1' | t }}</li>
                <li>{{ 'pages.privacy_policy.content.cookies_and_tracking_technologies.item2' | t }}</li>
            </ul>
            <p class="mt-4 text-2xl font-bold font-serif">{{ 'pages.privacy_policy.content.security.heading' | t }}</p>
            <ul class="ml-8 mt-2 list-disc">
                <li>{{ 'pages.privacy_policy.content.security.item1' | t }}</li>
                <li>{{ 'pages.privacy_policy.content.security.item2' | t }}</li>
            </ul>
            <p class="mt-4 text-2xl font-bold font-serif">{{ 'pages.privacy_policy.content.changes_to_policy.heading' | t }}</p>
            <ul class="ml-8 mt-2 list-disc">
                <li>{{ 'pages.privacy_policy.content.changes_to_policy.item1' | t }}</li>
                <li>{{ 'pages.privacy_policy.content.changes_to_policy.item2' | t }}</li>
                <li>{{ 'pages.privacy_policy.content.changes_to_policy.item3' | t }}</li>
            </ul>
            <p class="mt-4 text-2xl font-bold font-serif">{{ 'pages.privacy_policy.content.contact_us.heading' | t }}</p>
            <ul class="ml-8 mt-2 list-disc">
                <li>{{ 'pages.privacy_policy.content.contact_us.text' | t }} <a href="mailto:{{ 'pages.privacy_policy.content.contact_us.email' | t }}" class="underline">{{ 'pages.privacy_policy.content.contact_us.email' | t }}</a>.</li>
            </ul>
        </div>
    </div>
</div>
