
<div id="product-specifications" class="container pb-24 mx-auto">
    <div class="py-16 border-t border-t-gray-400">
        <div class="w-full xl:w-10/12">
            <h2 class="font-serif font-bold text-5xl w-full">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.title' | t | newline_to_br }}</h2>
            <div class="mt-16 grid grid-cols-1 lg:grid-cols-2 gap-12">
                <div>
                    <div class="text-center text-lg">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.fig_1' | t }}</div>
                    <div class="mt-8">
                        <picture>
                            <img src="{{ 'product-specifications-full-basic.svg' | asset_url }}" alt="{{ 'products.product.cordless_zebra_blinds.product_details.specifications.fig_1' | t }}" class="w-full h-auto object-cover">
                        </picture>
                    </div>
                </div>
                <div>
                    <div class="text-center text-lg">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.fig_2' | t }}</div>
                    <div class="mt-8">
                        <picture>
                            <img src="{{ 'product-specifications-cassette-basic.svg' | asset_url }}" alt="{{ 'products.product.cordless_zebra_blinds.product_details.specifications.fig_2' | t }}" class="w-full h-auto object-cover">
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="py-16 border-t border-t-gray-400">
        <div class="w-full xl:w-10/12 grid grid-cols-1 lg:grid-cols-3 gap-8">
            <h3 class="font-serif font-bold text-3xl w-full">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.dimensions.title' | t | newline_to_br }}</h3>
            <div>
                <h4 class="font-bold">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.dimensions.cassette.title' | t | newline_to_br }}</h4>
                <div class="mt-2 leading-loose">
                    <table class="text-neutral-800">
                        <tr>
                            <th class="text-left font-medium" valign="top">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.dimensions.cassette.height.heading' | t }}</th>
                            <td class="font-light pl-2">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.dimensions.cassette.height.data' | t }}</td>
                        </tr>
                        <tr>
                            <th class="text-left font-medium" valign="top">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.dimensions.cassette.min_depth.heading' | t }}</th>
                            <td class="font-light pl-2">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.dimensions.cassette.min_depth.data' | t }}</td>
                        </tr>
                        <tr>
                            <th class="text-left font-medium" valign="top">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.dimensions.cassette.max_depth.heading' | t }}</th>
                            <td class="font-light pl-2">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.dimensions.cassette.max_depth.data' | t }}</td>
                        </tr>
                        <tr>
                            <th class="text-left font-medium" valign="top">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.dimensions.cassette.width.heading' | t }}</th>
                            <td class="font-light pl-2">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.dimensions.cassette.width.data' | t }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <h4 class="font-bold">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.dimensions.blinds.title' | t | newline_to_br }}</h4>
                <div class="mt-2 leading-loose">
                    <table class="text-neutral-800">
                        <tr>
                            <th class="text-left font-medium" valign="top">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.dimensions.blinds.height.heading' | t }}</th>
                            <td class="font-light pl-2">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.dimensions.blinds.height.data' | t }}</td>
                        </tr>
                        <tr>
                            <th class="text-left font-medium" valign="top">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.dimensions.blinds.width.heading' | t }}</th>
                            <td class="font-light pl-2">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.dimensions.blinds.width.data' | t }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="py-16 border-t border-t-gray-400">
        <div class="w-full xl:w-10/12 grid grid-cols-1 lg:grid-cols-3 gap-8">
            <h3 class="font-serif font-bold text-3xl w-full">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.materials.title' | t | newline_to_br }}</h3>
            <div>
                <h4 class="font-bold">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.materials.cassette.title' | t | newline_to_br }}</h4>
                <div class="mt-2 leading-loose">
                    <table class="text-neutral-800">
                        <tr>
                            <td class="font-light">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.materials.cassette.line_1' | t }}</td>
                        </tr>
                        <tr>
                            <td class="font-light">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.materials.cassette.line_2' | t }}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <h4 class="font-bold">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.materials.blinds.title' | t | newline_to_br }}</h4>
                <div class="mt-2 leading-loose">
                    <table class="text-neutral-800">
                        <tr>
                            <td class="font-light">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.materials.blinds.line_1' | t }}</td>
                        </tr>
                        <tr>
                            <td class="font-light">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.materials.blinds.line_2' | t }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="py-16 border-y border-y-gray-400">
        <div class="w-full xl:w-10/12 grid grid-cols-1 lg:grid-cols-3 gap-8">
            <h3 class="font-serif font-bold text-3xl w-full">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.features.title' | t | newline_to_br }}</h3>
            <div>
                <div class="mt-2 leading-loose">
                    <table class="text-neutral-800">
                        <tr>
                            <td class="font-light">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.features.line_1' | t }}</td>
                        </tr>
                        <tr>
                            <td class="font-light">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.features.line_2' | t }}</td>
                        </tr>
                        <tr>
                            <td class="font-light">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.features.line_3' | t }}</td>
                        </tr>
                        <tr>
                            <td class="font-light">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.features.line_4' | t }}</td>
                        </tr>
                        <tr>
                            <td class="font-light">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.features.line_5' | t }}</td>
                        </tr>
                        <tr>
                            <td class="font-light">{{ 'products.product.cordless_zebra_blinds.product_details.specifications.sections.features.line_6' | t }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>