<div class="pt-4 pb-24 container mx-auto">
    <div class="sm:w-10/12 mx-auto">
        <div>
            <picture>
                {% assign image = article.image %}
                <source srcset="{{ image | image_url: width: 1200 }}" media="(min-width:1536px)" />
                <source srcset="{{ image | image_url: width: 1200 }}" media="(min-width:1280px)" />
                <source srcset="{{ image | image_url: width: 1200 }}" media="(min-width:1024px)" />
                <source srcset="{{ image | image_url: width: 1200 }}" media="(min-width:768px)" />
                <source srcset="{{ image | image_url: width: 1200 }}" media="(min-width:640px)" />
                <source srcset="{{ image | image_url: width: 1200 }}" media="(min-width:0px)" />
                <img src="{{ image | image_url: width: 1200 }}" alt="{{ image.alt }}" height="200" width="200" loading="lazy" class="w-full h-full object-contain rounded-md" />
            </picture>
        </div>
        <div class="mt-4 text-center">
            <a href="{{ blog.url }}" title="{{ 'blogs.article.back_to_blog' | t }}" class="underline underline-offset-4 text-lg text-stone-900">{{ 'blogs.article.back_to_blog' | t }}</a>
        </div>
        <div class="mt-8">
            <h1 class="font-serif font-bold text-5xl text-stone-900">{{ article.title }}</h1>
        </div>
        <div class="mt-8 text-xl text-stone-900">{{ article.content | replace: "<h2", '<h2 class="mt-6 mb-4 font-serif font-bold text-5xl"' | replace: "<h3", '<h3 class="mt-6 mb-4 font-serif font-bold text-3xl"' | replace: '<p', '<p class="mb-4"' | replace: '<a', '<a class="underline underline-offset-4"' }}</div>
    </div>
</div>
<div class="mt-12 relative">
    <div>
        {% assign image = 'index-showcase-wide3.jpg' %}
        <picture>
            <source srcset="{{ image | asset_img_url: 'x2100' }}" media="(min-width:1536px)" />
            <source srcset="{{ image | asset_img_url: 'x2100' }}" media="(min-width:1280px)" />
            <source srcset="{{ image | asset_img_url: 'x2100' }}" media="(min-width:1024px)" />
            <source srcset="{{ image | asset_img_url: 'x2100' }}" media="(min-width:768px)" />
            <source srcset="{{ image | asset_img_url: 'x2100' }}" media="(min-width:640px)" />
            <source srcset="{{ image | asset_img_url: 'x2100' }}" media="(min-width:0px)" />
            <img src="{{ image | asset_img_url: 'x2100' }}" alt="{{ title }}" height="200" width="200" loading="lazy" class="w-full h-auto object-cover" />
        </picture>
    </div>
    <div class="absolute top-0 left-0 right-0 bottom-0 bg-stone-900 opacity-25"></div>
    <div class="text-center w-10/12 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        <div class="text-neutral-100 mx-auto text-center font-serif font-bold text-2xl lg:text-4xl leading-relaxed w-11/12 lg:w-10/12">{{ 'templates.homepage.showcase_8.call_to_action_block.title' | t | newline_to_br }}</div>
        <a href="{{ routes['collections_url'] }}" class="block mt-12 mx-auto w-fit h-fit text-lg font-medium bg-indigo-600 text-neutral-100 uppercase px-8 pt-3 pb-3 rounded-md transition-all hover:bg-stone-900" title="{{ 'templates.homepage.hero.button' | t }}">{{ 'templates.homepage.hero.button' | t }}</a>
    </div>
</div>