<div class="pt-8 pb-12 lg:pt-8 lg:pb-24 rz-page-gutter">
    <div class="rz-h1 text-center">{{ blog.title }}</div>
    <div class="mt-10 grid grid-cols-1 lg:grid-cols-3 gap-4">
        {% for article in blog.articles %}
            <a href="{{ article.url }}" title="{{ article.title }}" class="block">
                <div class="aspect-square rounded-md relative flex align-bottom">
                    <div class="absolute top-0 left-0 bottom-0 right-0">
                        <picture>
                            {% assign image = article.image %}
                            <source srcset="{{ image | image_url: width: 1200 }}" media="(min-width:1536px)" />
                            <source srcset="{{ image | image_url: width: 1200 }}" media="(min-width:1280px)" />
                            <source srcset="{{ image | image_url: width: 1200 }}" media="(min-width:1024px)" />
                            <source srcset="{{ image | image_url: width: 1200 }}" media="(min-width:768px)" />
                            <source srcset="{{ image | image_url: width: 1200 }}" media="(min-width:640px)" />
                            <source srcset="{{ image | image_url: width: 1200 }}" media="(min-width:0px)" />
                            <img src="{{ image | image_url: width: 1200 }}" alt="{{ image.alt }}" height="200" width="200" loading="lazy" class="w-full h-full object-cover rounded-md" />
                        </picture>
                    </div>
                    <div class="absolute top-0 left-0 right-0 bottom-0 bg-content opacity-40 rounded-md"></div>
                    <div class="relative my-12 mx-12 flex flex-col justify-between">
                        <div class="rz-h3 text-content-inverse">{{ article.title }}</div>
                        <div class="rz-btn-md rz-btn-ghost w-fit">{{ 'templates.homepage.showcase_12.read_button' | t }}</div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
