<div class="py-20 bg-white">
    <div class="container mx-auto">
        <div class="gift-card__image-wrapper">
            <img src="{{ 'gift-card/card.svg' | shopify_asset_url }}" alt="" class="gift-card__image" height="{{ 570 | divided_by: 1.5 }}" width="570" loading="lazy">
        </div>
        <div class="gift-card__qr-code" data-identifier="{{ gift_card.qr_identifier }}"></div>
        <div class="gift-card__information">
            <input
                type="text"
                class="gift-card__number"
                value="{{ gift_card.code | format_code }}"
                aria-label="{{ 'gift_cards.issued.gift_card_code' | t }}"
                readonly
            >
            <div class="gift-card__copy-code">
                <button class="link gift-card__copy-link">{{ 'gift_cards.issued.copy_code' | t }}</button>
                <span class="gift-card__copy-success form__message" role="status"></span>
                <template>
                    {%- render 'icon-success' -%}{{ 'gift_cards.issued.copy_code_success' | t }}
                </template>
            </div>
            {%- if gift_card.pass_url -%}
                <a href="{{ gift_card.pass_url }}" class="gift_card__apple-wallet">
                    <img src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40" alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}" loading="lazy">
                </a>
            {%- endif -%}
            <div class="gift-card__buttons no-print">
                <a
                    href="{{ shop.url }}"
                    class="button"
                    target="_blank"
                    rel="noopener"
                    aria-describedby="a11y-new-window-message"
                >
                    {{ 'gift_cards.issued.shop_link' | t }}
                </a>
                <button
                    class="button button--secondary"
                    onclick="window.print();"
                >
                    {{ 'gift_cards.issued.print_gift_card' | t }}
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    var string = { qrImageAlt: {{ 'gift_cards.issued.qr_image_alt' | t | json }} };
    document.addEventListener('DOMContentLoaded', function() {
    new QRCode( document.querySelector('.gift-card__qr-code'), {
        text: document.querySelector('.gift-card__qr-code').dataset.identifier,
        width: 120,
        height: 120,
        imageAltText: string.qrImageAlt
        });
    });

    var template = document.getElementsByTagName("template")[0];
    var clonedTemplate = template.content.cloneNode(true);

    var isMessageDisplayed = false
    document
    .querySelector('.gift-card__copy-link')
    .addEventListener('click', () => {
        navigator.clipboard.writeText(document.querySelector('.gift-card__number').value).then(function () {
        if (!isMessageDisplayed) {
            document.querySelector('.gift-card__copy-success').appendChild(clonedTemplate);
            isMessageDisplayed = true
        }
        });
    });
</script>
