<div class="h-[calc(100vh_-_89px)] w-full bg-neutral-100 relative">
    <video autoplay loop playsinline muted preload class="h-full w-full object-cover">
        <source src="{{ 'page-index-hero-main-v2-x720.mp4' | asset_url }}" type="video/mp4" />
    </video>
    <div class="absolute top-1/2 -translate-y-1/2 w-full text-center">
        <div class="font-serif text-6xl lg:text-8xl text-neutral-100 font-bold">{{ 'templates.homepage.hero.title' | t }}</div>
        <a href="{{ routes['collections_url'] }}" class="block mt-12 mx-auto w-fit h-fit text-lg font-medium bg-stone-900 text-neutral-100 uppercase px-8 pt-3 pb-3 rounded-md transition-all hover:bg-indigo-500" title="{{ 'templates.homepage.hero.button' | t }}">{{ 'templates.homepage.hero.button' | t }}</a>
    </div>
</div>
{% assign language = localization.language.iso_code %}
<div class="py-20 bg-white">
    <div class="container mx-auto">
        <div class="text-stone-900 font-serif font-bold text-center text-3xl sm:text-4xl">{{ 'templates.homepage.partners.title' | t }}</div>
        <div class="mt-12 grid grid-cols-2 lg:grid-cols-6 gap-4 lg:gap-2">
            <div class="col-span-1 flex items-center justify-center">
                {% if language == 'fr' %}
                    {% assign partner_url = 'https://www.fadoq.ca/ile-de-montreal/rabais/habitation/rideau-zebra' %}
                {% else %}
                    {% assign partner_url = 'https://www.fadoq.ca/en/ile-de-montreal/discounts/housing/827952-2' %}
                {% endif %}
                {%- assign image = 'partner-logo-fadoq.svg' -%}
                <a href="{{ partner_url }}" class="block" target="_blank">
                    <img src="{{ image | asset_url }}" alt="{{ 'FADOQ' }}" height="200" width="200" loading="lazy" class="w-full h-10 sm:h-16 object-contain" />
                </a>
            </div>
            <div class="col-span-1 flex items-center justify-center">
                {%- assign image = 'partner-logo-fm1033.png' -%}
                <img src="{{ image | asset_img_url: '240x' }}" alt="{{ 'FM103.3' }}" height="200" width="200" loading="lazy" class="w-full h-10 sm:h-16 object-contain" />
            </div>
            <div class="col-span-1 flex items-center justify-center">
                {%- assign image = 'partner-logo-courrier-v2.png' -%}
                <a href="https://www.lecourrierdusud.ca/les-stores-alternes-un-equilibre-parfait-entre-style-et-fonctionnalite" class="block" target="_blank">
                    <img src="{{ image | asset_img_url: '240x' }}" alt="{{ 'Courrier du Sud' }}" height="200" width="200" loading="lazy" class="w-full h-12 sm:h-20 object-contain" />
                </a>
            </div>
            <div class="col-span-1 flex items-center justify-center">
                {%- assign image = 'partner-logo-gravite-media.png' -%}
                <img src="{{ image | asset_img_url: '240x' }}" alt="{{ 'Gravité Média' }}" height="200" width="200" loading="lazy" class="w-full h-10 sm:h-16 object-contain" />
            </div>
            <div class="col-span-1 flex items-center justify-center">
                {%- assign image = 'partner-logo-ma-vie-ma-region.png' -%}
                <img src="{{ image | asset_img_url: '240x' }}" alt="{{ 'Ma Vie Ma Région' }}" height="200" width="200" loading="lazy" class="w-full h-10 sm:h-16 object-contain" />
            </div>
            <div class="col-span-1 flex items-center justify-center">
                {%- assign image = 'partner-logo-walmart.png' -%}
                <img src="{{ image | asset_img_url: '240x' }}" alt="{{ 'Walmart' }}" height="200" width="200" loading="lazy" class="w-full h-10 sm:h-16 object-contain" />
            </div>
        </div>
        <div class="mt-24 text-center w-full sm:w-3/4 lg:w-1/2 mx-auto">
            <div class="text-stone-900 font-serif font-bold text-center text-2xl">{{ 'templates.homepage.partners.title_2' | t }}</div>
            <div class="mt-8 aspect-square w-full sm:w-3/4 lg:w-1/2 mx-auto">
                <picture>
                    <source srcset="{{ articles['news/custom-zebra-blinds-installations-rideau-zebra-elevates-fm-103-3s-studios'].image | image_url: width: 1200 }}" media="(min-width:1536px)" />
                    <source srcset="{{ articles['news/custom-zebra-blinds-installations-rideau-zebra-elevates-fm-103-3s-studios'].image | image_url: width: 1200 }}" media="(min-width:1280px)" />
                    <source srcset="{{ articles['news/custom-zebra-blinds-installations-rideau-zebra-elevates-fm-103-3s-studios'].image | image_url: width: 1200 }}" media="(min-width:1024px)" />
                    <source srcset="{{ articles['news/custom-zebra-blinds-installations-rideau-zebra-elevates-fm-103-3s-studios'].image | image_url: width: 1200 }}" media="(min-width:768px)" />
                    <source srcset="{{ articles['news/custom-zebra-blinds-installations-rideau-zebra-elevates-fm-103-3s-studios'].image | image_url: width: 1200 }}" media="(min-width:640px)" />
                    <source srcset="{{ articles['news/custom-zebra-blinds-installations-rideau-zebra-elevates-fm-103-3s-studios'].image | image_url: width: 1200 }}" media="(min-width:0px)" />
                    <img src="{{ articles['news/custom-zebra-blinds-installations-rideau-zebra-elevates-fm-103-3s-studios'].image | image_url: width: 1200 }}" alt="{{ articles['news/custom-zebra-blinds-installations-rideau-zebra-elevates-fm-103-3s-studios'].title }}" height="200" width="200" loading="lazy" class="w-full h-full object-cover rounded-md" />
                </picture>
            </div>
            <p class="mt-12">{{ 'templates.homepage.partners.description' | t }}</p>
            <a href="{{ articles['news/custom-zebra-blinds-installations-rideau-zebra-elevates-fm-103-3s-studios'].url }}" class="inline-block mt-8 text-lg lg:text-xl underline underline-offset-4" title="{{ articles['custom-zebra-blinds-installations-rideau-zebra-elevates-fm-103-3s-studios'].title }}">{{ 'templates.homepage.partners.read_more' | t }}</a>
        </div>
    </div>
</div>
<div class="pt-12 bg-neutral-100">
    <div class="container mx-auto py-24 text-center text-stone-900">
        <div class="font-serif font-bold text-4xl">{{ 'templates.homepage.showcase.title' | t }}</div>
        <a href="{{ routes['collections_url'] }}" class="inline-block mt-8 text-xl underline underline-offset-4" title="{{ 'templates.homepage.showcase.button' | t }}">{{ 'templates.homepage.showcase.button' | t }}</a>
    </div>
    {%- assign collection_handle = 'homepage' -%}
    {% paginate collections[collection_handle].products by 20 %}
        <div data-paginate-max="{{ paginate.pages }}" class="hidden"></div>
    {% endpaginate %}
    <div class="container mx-auto">
        <div id="main-content" class="pt-12 pb-6 mx-auto">
            <div data-paginated-products class="grid grid-cols-1 sm:grid-cols-3 gap-x-4 gap-y-8"></div>
            <div class="mt-12">
                <button data-paginate-more class="block mx-auto w-fit py-3 px-8 bg-black border border-black text-white text-center text-sm uppercase font-medium rounded-md disabled:opacity-75 select-none hover:bg-white hover:text-black">
                    <span data-paginate-state="loading" class="hidden">{% render 'icon-loading', class: 'animate-spin mx-auto h-6 w-6 text-white' %}</span>
                    <span data-paginate-state="default">See more</span>
                </button>
            </div>
        </div>
    </div>
</div>
{% section 'product-overview' %}
